/* Application-wide Styles */
h1 {
    color: #394061;
    font-size: 300%;
    margin: 0;
    text-align: center;
  }
  h2, h3 {
    color: #444;
    font-weight: lighter;
    margin: 0;
    text-align: center;
  }
  body, input[type="text"], button {
    color: #333;
  }
  /* everywhere else */
  * {
    margin: 0;
  }